<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>

</head>
<body>

<div class="sidenav">
  <stats>
    Health: <%= user.health %>
    Stamina: <%= user.stamina %>
  </stats>
  <a href="/profile">Profile</a>
  <a href="/inventory">Inventory</a>
  <a href="/mines">Mines</a>
  <a href="/logout">Log out</a>
</div>
<div class="main">
<p>
  Ore </br>
  Copper: <%= user.inventory.ore.copper %> </br>
  Tin:    <%= user.inventory.ore.tin %> </br>
  Silver: <%= user.inventory.ore.silver %> </br>
  Gold:   <%= user.inventory.ore.gold %> </br>
</p>
</div>
