<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>

</head>
<body>

<div class="sidenav">
  <stats>
    Health: <%= user.health %>
    Stamina: <%= user.stamina %>
  </stats>
  <a href="/profile">Profile</a>
  <a href="/inventory">Inventory</a>
  <a href="/store">Shop</a>
  <a href="/mines">Mines</a>
  <a href="/logout">Log out</a>
</div>
<div class="main">
<p>
ID: <%= shown_user.id %><br/>
Username: <%= shown_user.username %><br/>
Location: <%= shown_user.location.name %><br/>
Health: <%= shown_user.health %><br/>
Stamina: <%= shown_user.stamina %><br/>
Mining: <%= shown_user.mining_level %><br/>
Coins: <%= shown_user.coins %><br/>
</p>
</div>


</body>
</html>
