<p>
ID: <%= user.id %><br/>
Username: <%= user.username %><br/>
Health: <%= user.health %><br/>
Fatigue: <%= user.fatigue %><br/>
Mining: <%= user.mining_level %><br/>




</p>
<a href="/logout">Log out</a>
