<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>

</head>
<body>

<div class="sidenav">
	<stats>
		Health: <%= user.health %>
		Stamina: <%= user.stamina %>
	</stats>
	<a href="/profile">Profile</a>
	<a href="/inventory">Inventory</a>
	<a href="/store">Shop</a>
	<a href="/mines">Mines</a>
	<a href="/logout">Log out</a>
</div>

<div class="main">
<%= purchase_message %><br/>
<form action="/store" method="post">
	<div id="buy_item_buttons">
	</div>
</form>
</div>

<script>
	<% for (var i = 0; i < store.inventory.length; i++) { %>
		document.getElementById("buy_item_buttons").innerHTML += "<%= store.inventory[i].item %> " + "<%= store.inventory[i].cost %>gp " +
		                        "<button name='purchase' value='" + "<%= store.inventory[i].item %>"  + "'>Buy</button></br>";
	<% } %>
</script>

</body>
